.navbarOriginal {
  padding: 10px;
  ul {
      @include flex(row, center, center);
      list-style: none;
      gap: 20px;
      margin: 0 0 15px 0;
      padding: 0;
      @extend %bordered;
  }
  li { 
      display: inline;
      transition: transform 0.3s ease; /* Transición suave */
  }
  
  /* Animación al pasar el mouse */
  li:hover ~ li {
      transform: translateX(50px); 
  }

  li:has(+ li:hover) {
      transform: translateX(-50px); 
  }
  
  a {
      text-decoration: none;
      color: $black;
      padding: 10px 15px;
      @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
              font-size: 18px + ($i * 2);
          }
      }
  }
  ul :hover { color: $gray-666; }
}

#cr-widget-marquee {
  margin-top: 20px;
  @extend %bordered;
}